/* global style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: blueviolet;
    /* position: relative; */
}

header {
    width: 100%;
    line-height: 30px;
    padding: 15px;
    color: whitesmoke;
    background-color: blue;
}

header h1 {
    color: yellow;
    font-size: 30px;
    text-align: left;
}

header img {
    /* display: inline; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#tagline {
    color: white;
}

nav {
    background-color: aquamarine;
    /* i want the links on the bottom right of the header bar */
    /* text-align: right; */
    display: flex;
}

/* MAIN */
main {
    padding: 15px;
    /* display: flex; */
}

main section {
    /* eventually i want a left handed thick bar in blue */
    border-bottom: 5px solid black;
    padding: 10px;
}
.card {
    width: 409px;
    height: 409px;
    text-align: center;
    border: 10px solid grey;
    margin: 10px;
}

main img {
    /* padding: 5px; */
    height: 350px;
    width: 350px;
    background-color: lightgreen;
    margin: 0px;
    padding: 20px;
    border: 10px solid darkred;
}


/* sections */
.about-me {
    margin-bottom: 15px;
    line-height: 20px;
    background-color: antiquewhite;
}

.about-me h2 {
    background-color:red;
}

.work {
    margin-bottom: 15px;
    background-color: aqua;
}

.work h2 {
    /* to get color on headings */
    background-color:red;
}

/* when flex is implemented i want to make sure that it fills the whole row only on this one */
/* #main-work {
    width: 100%;
} */

.resume {
    /* margin-bottom: 15px; */
    background-color: bisque;
}

.resume h2 {
    background-color:red;
}

/* headings */
h2 {
    font-size: larger;
    font-weight: bold;
}

h3 {
    font-size: medium;
    font-weight: 800;
}



/* footer */
footer {
    line-height: 30px;
    padding: 15px;
    color: whitesmoke;
    background-color: lightblue;
}

footer h4 {
    font-size: 30px;
    color: white;
    text-align: center;
}

/* makes the footer contact links bold */
footer .contact-bold {
    font-weight:bold;
}

footer ul {
    text-align: center;
}

.display-inline {
    display: inline;
  }




  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: orangered;
    }
  }
  
  /* large */
  @media screen and (max-width: 990px) {
    footer {
      background: orangered;
    }
  }
  
  /* med */
  @media screen and (max-width: 760px) {
    nav {
      background-color: yellowgreen;
    }
  }
  
 /* small */
  @media screen and (max-width: 570px) {
    .card {
      background-color: greenyellow;
    }
  }





  
/* main page style and font size */
/* body {
    background-color: rgb(245, 245, 245);
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
} */

/* header, top; nav, top right */
/* header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
    background-color: rgb(121, 121, 240);
    color: #ffffff;
} */
/* main title - my name */
/* h1 {
    display: inline-block;
    font-size: 50px;
} */
/* slight coloration on last name - same as the main background color */
/* h1 #chorney {
    color: rgb(251, 250, 250);
} */
/* tagline color slightly darker than main name */
/* #tagline {
    color: rgb(251, 246, 246);
} */


/* nav, top right */
/* header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
} */
/* nav li, top right */
/* header li {
    display: inline-block;
    margin-left: 25px;
} */

/* main image format, no change */
/* .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} */

/* main section with three bullet points, center, left */
/* main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} */
/* individual bullet points */
/* main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #94c7e7;
    color: #ffffff;
} */

/* main h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* main img {
    max-height: 200px;
} */
/* main section image placement selectors */
/* .float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
} */

/* side bar with bullet points, right */
/* aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* individual bullet points, right */
/* aside section {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* aside h3 {
    margin-bottom: 10px;
    text-align: center;
} */
/* graphic stamp */
/* aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */ */

/* footer with copyright */
/* footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
    text-align: center;
    background-color: #78a9c7;
} */
/* tagline with heart emoji */
/* footer h4 {
    font-size: 30px;
} */

/* id for header name Chorney style */
/* #chorney {
}

#tagline{

}

header {

} */

